@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #D21312;
  --primary-color: #38d9a9;
  --primary-color: #EFBE3D;
  --grey-color: #161D31;
  --grey-color: #212529;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--grey-color);
}

body {
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
}

.writing_mode_rl {
  writing-mode: vertical-rl;
}

.subTitle {
  clip-path: polygon(0% 0%,90% 0%,100% 30%,101% 98%,70% 100%,10% 100%,0% 70%,0% 30%);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 7px;
}