.marquee-container {
  overflow: hidden;
}
.marquee {
  top: -40%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.marquee2 {
  animation-delay: 8s;
}

@keyframes marquee {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}